<header>
    <div class="container"></div>
    <a href="#" routerLink="/"class="logo">Portfolio</a>
    <!--a is an anchor element, used to make hyperlinks. It can be text or an image.-->
    <!--href="#" attribute means hypertext reference,it specifies the URL that the link points to # is a placeholder,-->
    <!--routerLink attribute directive tells angular's router to navigate to a specific route, it's set to the root which is denoted /-->
    <!---->

    <nav> <!--navigation throughout the website-->
        <ul> <!--Unordered list-->
            <li> <!--List Item-->
                <a href="#" routerLink="/cart-page">Cart</a>
            </li>
        </ul>
    </nav>
</header>
