<div class = "container ">
    <div class="image-container">
        <img [src]="headshot" class="image"
        
        >
    <div>Hello, my name is <b>Ryan Nageer</b>. I am a senior of <b>FSU</b>'s Class of 2025 and I am currently a working towards my <br> <b>Bachelor's degree in Computer Science.</b>
        My interests include software development, server management,<br> web development, and scripting/automation. I will be pursuing my Master's degree in Computer Science<br>
         at Florida State University and plan to graduate with it by 2027.</div>
    </div>
</div>
