<p class="container">Course History</p>
<div class="container">Spring 2025<BR>
    <UL>
        <LI> [Currently Taking] Operating Systems (COP 4610)</LI>
        <LI> [Currently Taking] Full App Development in C# (COP 4870)</LI>
        <LI> [Currently Taking] Operating Systems Lab (COP 4610L)</LI>
    </UL>
</div>

<div class="container">Fall 2024<BR>
    <UL>
        <LI> [A+] Secure Parallel and Distributed Computing with Python
            (COP 4521)</LI>
            <LI> [A-] Computer Security Fundamentals (CIS 4360)</LI>
        <LI> [A+] Introduction to Career Development (SDS 3340)</LI>
        <LI> [P] Intermediate Spanish (SPN 2220)</LI>
        <LI> [P] Intro to Billiards (PEL 1131)</LI>
    </UL>
</div>

<div class="container">Spring 2024<BR>
    <UL>
        <LI> [A-] Software Engineering (CEN 4020)</LI>
            <LI> [A] Software Engineering Capstone Project (CEN 4090L)</LI>
        <LI> [A-] Advanced Programming with Java (COP 3252)</LI>
        <LI> [A+] Unix Tools (cop 4342)</LI>
        <LI> [A] Mobile Programming (Android App Development) (COP 4656)</LI>
    </UL>
</div>

<div class="container">Fall 2023<BR>
    <UL>
        <LI> [A] Data Structures, Algorithms, and Generic Programming II (COP 4530)</LI>
        <LI> [B+] Computer Organization with Assembly (CDA 3100)</LI>  
        <LI> [A+] Computer & Network System Administration (COP 3252)</LI>
        <LI> [A] Mobile Programming (Android App Development) (COP 4656)</LI>
        <LI> [A+] Elementary Spanish II (SPN 1121)</LI>
    </UL>
</div>

<div class="container">Spring 2023<BR>
    <UL>
        <LI> [B] Data Structures, Algorithms, and Generic Programming I (COP 3330)</LI>
        <LI> [B+] Discrete Mathematics (MAD 2104)</LI>  
        <LI> [A+] Elementary Spanish I (SPN 1120)</LI>
        <LI> [B+] Intro to Mass Media (MMC 2000)</LI> 
    </UL>
</div>

<div class="container">Fall 2022<BR>
    <UL>
        <LI> [B] Programming I: Intro to C++ (COP 3014)</LI>
        <LI> [C+] Intro to Unix (COP 3353)</LI>  
        <LI> [A+] New Communication Technology(COM 3332)</LI>
        <LI> [A-] Special Topics in Communication (COM 3930)</LI> 
        <LI> [B] Intro to Public Relations (PUR 3000)</LI> 
    </UL>
</div>
