/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*{ /* * is a selector. This block applies border-box to everything on the page */
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:"Quicksand", sans-serif;
    font-size: 18px; /* 18 pixels */
}

a{ /*All*/
    text-decoration: none
}

@font-face {
    font-family: 'Conduit ITC Italic';  /* This is the name you will use to apply the font */
    src: url('assets/fonts/ConduitITC-MedItal-Italic.ttf') format('truetype'); /* Pointing to the .ttf file */
    font-weight: normal;
    font-style: italic;  /* Since it's italic, you may want to define the font style */
  }

@font-face {
    font-family: 'Conduit ITC';
    src: url('assets/fonts/Conduit\ ITC\ Medium\ Regular.otf') format('opentype');
}
  