.image-container {
    position: relative;
    text-align: center;
    color: white
}
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 450px;
    left: 50%;
   transform: translate(-50%, -50%); /* this repositions the text relative to itself, so if this line wasn't here the first letter would be in the middle of the screen. but since this is here, the text will be centered*/
   font-family: 'Conduit ITC', sans-serif; /* It will use Conduit ITC if available and sans-serif as a backup */
   font-size: 80px;
    font-weight: bold;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.9);
    letter-spacing: 4px;
  }